/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: url("TrumpWallsmall.jpg") no-repeat;
    background-size: 100%;
    background-position: 0px 400px;
}

#page{
    margin-top: 100px;
    background-color: white;
    opacity: 0.2;
}

#hits{
    width: 50%;
    margin: 0 auto;
}

#page:hover {
    opacity: 1.0;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width:  100%;
    height: 100%;
    z-index: 9999;
    background: url("NoNoseTrump.gif") 20% 20% no-repeat rgb(249,249,249);
    background-position: center;
    background-size: 100%;
}

#bountyboard {
    width: 1280px;
    height: 900px;
}

#blankPixel {
    background-color: black;
    width: 2px;
    height: 2px;
    -webkit-animation-name: pixel;
    -webkit-animation: pixel 5s ease infinite;
    margin-left: 20px;
    margin-top: 20px;
}

#clickMe {
    font-size: 5px;
}

@-webkit-keyframes pixel {
    0%   {background-color: red;}
    15% {background-color: #50ff0d}
    25%  {background-color: purple;}
    30% {background-color: #990099}
    50%  {background-color: blue;}
    75% {background-color: #d6483b}
    100% {background-color: green;}
}

#banner {
    width: 1000px;
    height: 444px;
}

#KanyeForPrez {
    margin-top: 200px;
}

#KanyeForPrezPic {
    width: 100px;
    height: 100px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    margin-top: 200px;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}